<% title = "用户列表" %>
<%- include("../header") %>

<div class="padding">
  <table class="ui very basic center aligned table">
    <thead>
    <tr>
      <th>用户ID</th>
      <th>用户名</th>
      <th>用户类型</th>
    </tr>
    </thead>
    <tbody>
    <% for(const user of users) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td>
          <% if(user.isAdmin) { %>
            管理员
          <% } else if(user.isLeader) { %>
            领导
          <% } else { %>
            员工
          <% } %>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>

</div>

<%- include("../footer") %>
